<%= form_with(model: @tweet, local: true, url: choose_new_or_edit ) do |form| %>
  <% if @tweet.errors.any? %>
　 　<div id="error_explanation">
　  　 <p class="notice"><%= @tweet.errors.count %>件のエラーがあります。</p>
　  　 <ul>
  　　　<% @tweet.errors.full_messages.each do |msg| %>
    　　　<li class="notice"><%= msg %></li>
  　　　<% end %>
    　 </ul>
　   </div>
  <% end %>

  <div class="tweet_title">
    <%= form.label :つぶやき %>
    <%= form.text_field :content %>
    <%= form.submit  '投稿する', class: 'btn btn-success' %>
  </div>
<% end %>
