<div class = "container">


<h3>つぶやきを投稿する</h3>

<%= render 'form' %>
<%= form_with(model: @tweet, url: tweets_path, local: true, method: 'get') do |form| %>
  <%= form.submit '一覧' %>
<% end %>
<%= form_with(model: @tweet, url: top_tweets_path, local: true, method: 'get') do |form| %>
  <%= form.submit 'TOP' %>
<% end %>

<footer class = "footer">
  <p>test application for Pharb</p>
</footer>
</div>
