<div class = "container">


<h3>つぶやき一覧</h3>

<p><%= notice %></p>

<table>
  <tr>
    <th>つぶやき</th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.content %></td>
    <td>
      <%= form_with(model: @tweet, url: tweet_path(tweet.id), local: true, method: 'get') do |form| %>
        <%= form.submit '詳細' %>
      <% end %>
    </td>
    <td>
      <%= form_with(model: @tweet, url: edit_tweet_path(tweet.id), local: true, method: 'get') do |form| %>
        <%= form.submit '編集' %>
      <% end %>
    </td>
    <td>
      <%= form_with(model: @tweet, url: tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？' }, local: true, method: 'get') do |form| %>
        <%= form.submit '削除' %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<%= form_with(model: @tweet, url: new_tweet_path, local: true, method: 'get') do |form| %>
  <%= form.submit '新規投稿' %>
<% end %>
<%= form_with(model: @tweet, url: top_tweets_path, local: true, method: 'get') do |form| %>
  <%= form.submit 'TOP' %>
<% end %>

<footer class = "footer">
  <p>test application for Pharb</p>
</footer>
</div>
